@page
@using Letterbook.Core
@using Letterbook.Web.Pages.Shared
@model Letterbook.Web.Areas.Administration.Pages.PeerImport

@{
    Layout = "_Layout";
    ViewData["title"] = "Admin - Peer Import";
}

<section class="administration">
    <h1>Import Restriction List</h1>
    <form method="post">
        <label class="center" for="csv-file">
            Select CSV file
        </label>
        <input id="csv-file" class="file-upload" type="file" asp-for="CsvFile" accept=".csv,text/csv" required/>
        <fieldset>
            <legend>List format:</legend>
            <label for="mastodon-format">
                <input id="mastodon-format" type="radio" asp-for="LetterbookFormat" value="false"
                       checked/>
                Mastodon
            </label>
            <label for="letterbook-format">
                <input id="letterbook-format" type="radio" asp-for="LetterbookFormat" value="true"/>
                Letterbook
            </label>
        </fieldset>
        <fieldset>
            <legend>How to handle conflicts with existing restrictions:</legend>
            @foreach (var each in Enum.GetValues<ModerationService.MergeStrategy>())
            {
                <label for="strategy-@each">
                    <input id="strategy-@each"
                           type="radio"
                           asp-for="Strategy"
                           value="@each"
                           checked="@(each == ModerationService.MergeStrategy.KeepUnexpired)"/>
                    @(Model.FormateStrategy(each.ToString()))
                </label>
            }
        </fieldset>
        <button type="submit">Upload</button>
    </form>
</section>