@page
@model Letterbook.Web.Areas.Administration.Pages.Peers

@{
    Layout = "_Layout";
    ViewData["title"] = "Manage Peer Instances";
}

<section class="administration">
    <h1>Yo</h1>
</section>