@page "{domain}"
@model Letterbook.Web.Areas.Administration.Pages.Peer

@{
    Layout = "_Layout";
    ViewData["title"] = "Admin - Peer";
}

<section class="peer-detail administration">
    <h1>@Model.Domain</h1>
</section>