@page "{domain}"
@model Letterbook.Web.Areas.Administration.Pages.Peer

@{
    Layout = "_Layout";
    ViewData["title"] = "Admin - Peer";
}

<section class="peer-detail administration">
    <h1>Manage Peer Connection</h1>
    <div role="doc-subtitle">@Model.Domain</div>
    <form method="post">
        <label for="private-note">Private Notes</label>
        <textarea id="private-note" name="private-note"></textarea>
        <label for="public-remark">Public Remarks</label>
        <input id="public-remark" name="public-remark"/>
        @foreach (var name in Enum.GetNames<Models.Restrictions>())
        {
            <div class="restriction-item">
                <div class="restriction-col">
                    <label>
                        <input type="checkbox" role="switch" id="@name" name="@name"/>
                        @name</label></div>
                <label for="@name-expiration" class="when-enabled">Until</label>
                <input id="@name-expiration" type="date" name="@name-expiration" class="when-enabled" value="9999-12-31"/>
            </div>
        }
        <button type="submit">Save</button>
    </form>
</section>