@page
@model Letterbook.Web.Areas.Administration.Pages.Reports

@{
    Layout = "_Layout";
    ViewData["title"] = "Admin - Reports";
}

<section class="administration">
    <h1>Manage Reports</h1>
    <table>
        <thead>
        <th>
            Updated
        </th>
        <th>
            Summary
        </th>
        <th>
            Assigned Moderator
        </th>
        </thead>
        @foreach (var row in Model.List)
        {
            <tr>
                <td>@row.Updated</td>
                <td>@row.Summary</td>
                <td>@(row.Moderators.FirstOrDefault()?.UserName ?? "")</td>
            </tr>
        }
    </table>
</section>