<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="color-scheme" content="light dark" />
    <title>@ViewData["Title"] - Letterbook</title>
    <link rel="stylesheet" href="~/lib/picocss/css/pico.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/font.css" asp-append-version="true"/>
</head>
<body>
<header>
    <nav >
        <div class="container">
            <h1><a class="letterbook-brand" asp-area="" asp-page="/Index">letterbook</a></h1>
            <button type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div >
                <ul >
                    <li >
                        <a asp-area="" asp-page="/Index">Home</a>
                    </li>
                    <li >
                        <a asp-area="" asp-page="/Privacy">Privacy</a>
                    </li>
                </ul>
                <partial name="_LoginPartial"/>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" >
        @RenderBody()
    </main>
</div>

<footer >
    <div class="container">
        &copy; 2024 - Letterbook project - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>