<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] | Letterbook</title>
    <link rel="icon" type="image/svg" href="/img/letterbook-square.svg">
    <link rel="stylesheet" href="/lib/picocss/css/pico.min.css"/>
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true"/>
</head>
<body>
<header>
    <nav >
        <div >
            <a  asp-area="" asp-page="/Index">Letterbook</a>
            <button  type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span ></span>
            </button>
            <div >
                <ul >
                    <li >
                        <a  asp-area="" asp-page="/Index">Home</a>
                    </li>
                    <li >
                        <a  asp-area="" asp-page="/Privacy">Privacy</a>
                    </li>
                </ul>
                <partial name="_LoginPartial"/>
            </div>
        </div>
    </nav>
</header>
<div >
    <main role="main" class="container">
        @RenderBody()
    </main>
</div>

<footer class="container">
    <div >
        &copy; 2024 - Letterbook - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>

<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>