/* Font used for user content (except monospaced) */
@font-face {
    font-family: inclusve_sans;
    src: url("font/InclusiveSans-Regular.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

/* The wordmark font */
@font-face {
    font-family: "Share Tech Mono";
    src: url("font/ShareTechMono-Regular.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
}

:root {
    /* Main color "Aero" */
    --lb-color-primary: hsla(187, 96%, 44%, 1);
    --lb-color-primary-dark: hsl(180, 100%, 27.1%);
    --lb-color-primary-light: hsl(180, 84.9%, 63.7%);

    /* Secondary color "Hollywood Cerise" */
    --lb-color-secondary: hsla(321, 99%, 46%, 1);
    --lb-color-secondary-dark: hsl(325, 100%, 35.9%);
    --lb-color-secondary-light: hsl(325, 92%, 65.7%);

    /* Contrast color "Safety Orange" */
    --lb-color-contrast: hsla(29, 100%, 50%, 1);
    --lb-color-contrast-dark: hsl(27, 100%, 45.3%);
    --lb-color-contrast-light: hsl(27, 100%, 67.5%);

    /* Accent color "Spring Bud" */
    --lb-color-accent: hsla(77, 89%, 49%, 1);
    --lb-color-accent-dark: hsl(79, 89%, 42.4%);
    --lb-color-accent-light: hsla(77, 89%, 49%, 1);

    /* Background colors */
    --charcoal: hsla(204, 19%, 26%, 1);
    --cool-paper: hsl(210, 16.7%, 95.3%);
}

/* Light color scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
    --pico-background-color: var(--cool-paper);
    --pico-primary: var(--lb-color-primary);
    --pico-primary-focus: var(--lb-color-primary-light);
    --pico-secondary: var(--lb-color-secondary);
    --pico-secondary-focus: var(--lb-color-secondary-light);
    --pico-contrast: var(--lb-color-contrast);
    --pico-contrast-focus: var(--lb-color-contrast-light);
}

/* Dark color scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
        --pico-background-color: var(--charcoal);
        --pico-primary: var(--lb-color-primary);
        --pico-primary-focus: var(--lb-color-primary-light);
        --pico-secondary: var(--lb-color-secondary);
        --pico-secondary-focus: var(--lb-color-secondary-light);
        --pico-contrast: var(--lb-color-contrast);
        --pico-contrast-focus: var(--lb-color-contrast-light);
    }
}

/* Dark color scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
    --pico-background-color: var(--charcoal);
    --pico-primary: var(--lb-color-primary);
    --pico-primary-focus: var(--lb-color-primary-light);
    --pico-secondary: var(--lb-color-secondary);
    --pico-secondary-focus: var(--lb-color-secondary-light);
    --pico-contrast: var(--lb-color-contrast);
    --pico-contrast-focus: var(--lb-color-contrast-light);
}

.color-secondary {
    color: var(--pico-secondary);
}

figcaption {
    display: inline;
}

code, pre, .letterbook-brand {
    --pico-font-family: "Share Tech Mono", monospace, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji";
}

.letterbook-brand a:not(:hover) {
    text-decoration: none;
}

html {
    height: 100vh;
}

body {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr;
}

footer {
    grid-column: 1;
    font-size: 0.75rem;
}

header {
    font-size: 1.25rem;
    --pico-font-weight: 700;
    flex-grow: 1;

    nav {
        display: flex;
        flex-direction: column;
        align-items: initial;

        /* *-of-type pseudo classes are needed for specificity */

        ul, ul:first-of-type, ul:last-of-type {
            line-height: 1.5rlh;
            display: flex;
            flex-direction: column;
            align-items: initial;
            margin-left: 0;

            li {
                padding: 0;
                margin: 0;
            }
        }
    }
}


.sidebar {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-block: var(--pico-block-spacing-vertical);
}

footer ul {
    padding: 0;
    margin: 0;

    li {
        display: inline-block;
    }

    li:last-child::after {
        display: none;
    }

    li:not(last-child)::after {
        content: ' - ';
    }
}

main {
    article {
        --pico-font-family: inclusve_sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji";
    }
    grid-area: 1 / 2 / 2;
}

img {
    max-inline-size: 1.1lh;
}

button.btn-link {
    --pico-color: var(--lb-color-primary);
    text-decoration: underline;
    display: inline-block;
    border: none;
    background-color: inherit;
    padding: 0;
    margin: 0;
    font-size: inherit;
    width: initial;
}

.box {
    clip-path: polygon(0 2em, 2em 0, 100% 0, 100% calc(100% - 2em), calc(100% - 2em) 100%, 0 100%);
    position: relative;
}

.box:before {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(var(--lb-color-primary), var(--lb-color-contrast), var(--lb-color-accent), var(--lb-color-secondary));
    clip-path: polygon(0 2em, 2em 0, 100% 0, 100% calc(100% - 2em), calc(100% - 2em) 100%, 0 100%, 0 2em, 4px calc(2em + 1.66px), 4px calc(100% - 4px), calc(100% - 2em - 1.66px) calc(100% - 4px), calc(100% - 4px) calc(100% - 2em - 1.66px), calc(100% - 4px) 4px, calc(2em + 1.66px) 4px, 4px calc(2em + 1.66px));
}

@media screen and (min-width: 796px) {
    .adr-info {
        width: 40%;
        position: relative;
        float: right;
    }

    .blog-grid {
        grid-template-columns: 3fr minmax(12rem, 1fr);
        grid-column-gap: 1rem;

        aside {
            grid-column: 2;
        }
    }

    .author-grid {
        grid-template-columns: minmax(22rem, 1fr) 1fr;
        grid-column-gap: 1rem;
        display: grid;
    }
}