@page "{id}"
@model Letterbook.Web.Areas.Profile.Pages.Edit

@{
    Layout = "_Layout";
    ViewData["title"] = $"Edit {Model.Handle}";
}

<div class="profile">
    <h1>Edit @@@Model.Handle</h1>

    <form method="post" asp-route-handle="@Model.Handle">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div>
            <label asp-for="DisplayName">Display name</label>
            <input type="text" asp-for="DisplayName" />
            <small asp-validation-for="DisplayName"></small>
        </div>
        <div>
            <label asp-for="Description">Introduction</label>
            <textarea asp-for="Description"></textarea>
            <small asp-validation-for="Description"></small>
        </div>
        <button type="submit">Update</button>
    </form>
</div>