.app {
    display: grid;
    grid-template-areas:
        "header main";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    grid-column-gap: .5rem;
    height: auto;

    & > header {
        font-size: 1.5rem;
        --pico-font-weight: 700;
        grid-area: header;
        justify-content: stretch;
        position: sticky;
        height: fit-content;
        top: 0;

        nav {
            display: flex;
            flex-direction: column;

            .menu-items {
                line-height: 1.5rlh;
                flex-direction: column;
                align-items: initial;
                margin-left: 0;

                * {
                    text-decoration: none;
                    font-weight: 700;
                }

                footer {
                    font-weight: 500;
                    font-size: 0.75rem;
                    line-height: 1rlh;
                    margin-top: 1rem;
                    position: sticky;
                    bottom: 1rem;
                    /*! margin-bottom: 1rem; */
                }

                .fill-width {
                    flex-grow: 1;
                    width: 100%;
                }

                height: 100%;
            }

            height: 100%;
        }
    }

    main {
        grid-area: main;
        overflow-y: auto;
    }

    .box {
        clip-path: polygon(0 2em, 2em 0, 100% 0, 100% calc(100% - 2em), calc(100% - 2em) 100%, 0 100%);
        position: relative;

        &:before {
            content: "";
            position: absolute;
            inset: 0;
            background: radial-gradient(var(--lb-color-primary), var(--lb-color-contrast), var(--lb-color-accent), var(--lb-color-secondary));
            clip-path: polygon(0 2em, 2em 0, 100% 0, 100% calc(100% - 2em), calc(100% - 2em) 100%, 0 100%, 0 2em, 4px calc(2em + 1.66px), 4px calc(100% - 4px), calc(100% - 2em - 1.66px) calc(100% - 4px), calc(100% - 4px) calc(100% - 2em - 1.66px), calc(100% - 4px) 4px, calc(2em + 1.66px) 4px, 4px calc(2em + 1.66px));
        }
    }

    .user-text {
        font-family: var(--lb-font-family-user), sans-serif;
    }
    
    .icon {
        max-height: 1em;
        max-width: 1em;
        background-repeat: no-repeat;
        background-color: var(--pico-color);
    }

    .outline .icon {
        background-color: var(--pico-primary);
    }

    .icon-like {
        mask: url("/lib/remixicon/heart-line.svg");
    }

    .icon-share {
        mask: url("/lib/remixicon/repeat-line.svg");
    }

    .icon-reply {
        mask: url("/lib/remixicon/reply-line.svg");
    }

    .icon-more {
        mask: url("/lib/remixicon/more-line.svg");
    }

    .icon-thread {
        mask: url("/lib/remixicon/mail-open-line.svg");
    }

    .icon-send {
        mask: url("/lib/remixicon/send-plane-2-fill.svg");
    }

    .icon-outline {
        --pico-border-color: var(--pico-primary);
        border: var(--pico-border-width) solid var(--pico-border-color);
        border-radius: var(--pico-border-radius);
    }

    .spacer {
        flex: 1 0 auto;
    }

    .peer-domain {
        color: var(--lb-color-contrast);
    }

    .file-upload {
        border-color: var(--pico-form-element-border-color);
        border-width: .25em;
        border-style: dashed;
        cursor: pointer;
        text-align: center;
        display: inline-block;
        align-content: center;
        vertical-align: middle;
        height: 4lh;

        input[type="file"] {
            width: auto;
            height: 1lh;
        }
    }

    .area-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    img.fill {
        width: 100%;
        height: 100%;
    }

    div[role=doc-subtitle] {
        --pico-font-family: inclusve_sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji";
        font-family: inclusve_sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji";
        margin-top: -.5em;
        margin-bottom: 1em;
        font-size: 1.5em;
        font-weight: 600;
    }
}
details:open {
    summary {
        small {
            margin-bottom: 0.5em;
        }
        .open {
            display: revert;
        }
        .closed {
            display: none;
        }
    }
}
details:not(:open) {
    summary {
        small {
            margin-bottom: 0.5em;
        }
        .open {
            display: none;
        }
        .closed {
            display: revert;
        }
    }
}

button {
    &.btn-link {
        --pico-color: var(--lb-color-primary);
        text-decoration: underline;
        display: inline-block;
        border: none;
        background-color: inherit;
        padding: 0;
        margin: 0;
        font-size: inherit;
        width: initial;
    }
}

.app img.inline {
    height: 1lh;
    display: inline-block;
    vertical-align: bottom;
}

.app {
    button, .display-button {
        padding-top: .0625rem;
        padding-bottom: .0625rem;
        margin-top: .125rem;
        margin-bottom: .125rem;
        min-width: 2em;
    }

    .display-button:hover {
        background-color: var(--pico-primary-background);
    }

    textarea {
        /* not universally supported, but it solves form input sizing without js
         * available in Webkit since March 2024
         * support is planned in Blink
         * https://caniuse.com/?search=field-sizing
         * usually best to fallback to oversizing via rows= html property */
        field-sizing: content;
    }
}

.app .thread,
.app .timeline {
    article {
        padding: 0;
        display: grid;
        grid-template-areas:
            "header" 
            "main"
            "footer";
        grid-template-columns: auto;
        align-items: stretch;
    }

    .post-author {
        display: flex;
        gap: .25rem;
    }

    .post-pfp {
        flex: 0 0 auto;
    }

    .post-author {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .post-profile-container {
        flex: 0 1 auto;
        display: flex;
        flex-direction: column;
    }

    .post-body {
        grid-area: main;
        padding: var(--pico-block-spacing-vertical) var(--pico-block-spacing-horizontal);
        background-color: var(--pico-card-background-color);

        /* light mode */
        border-top: var(--pico-border-width) solid var(--pico-card-border-color);
        border-bottom: none;
    }

    .post-header {
        grid-area: header;
        margin: 0;
        padding: var(--pico-block-spacing-vertical) var(--pico-block-spacing-horizontal);
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        overflow: hidden;
        white-space: nowrap;
        line-break: anywhere;

        /* light mode */
        border-top: var(--pico-border-width) solid var(--pico-card-border-color);
        border-bottom: none;

        .post-author {
            display: flex;
            flex-direction: row;

        }

        .post-pfp {
            flex-shrink: 0;
        }

        .post-profile-container {
            display: flex;
            flex-direction: column;
        }

        a {
            text-decoration: none;
            line-height: initial;
        }

        .pfp-sm {
            line-height: 2lh;
            /*! width: 2rem; */
        }

        span,
        .display-name {
            width: 100%;
        }

        .handle {
            font-size: .7em;
        }
    }

    .post-footer {
        font-size: 0.75rem;
        grid-area: footer;
        margin: 0;
        display: flex;
        gap: 0.5rem;
        align-items: center;

        time {
            text-align: end;
        }
    }

    .focused-post .post-footer {
        flex-direction: column;

        .row {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            margin-bottom: .75rem;
            gap: .5rem;
        }

        .row:nth-last-child(1) {
            margin-bottom: 0;
        }

        form {
            width: 100%;
            text-align: right;

            & > * {
                margin-top: 0;
                margin-right: 0;
                margin-left: 0;
                margin-bottom: .5rem;
            }

            & > :nth-last-child(1) {
                margin-bottom: 0;
            }
        }
    }

    .handle {
        font-size: 0.75em;
    }
}

.app .thread {
    article {
        margin-bottom: .125em;
    }

    .sibling-post {
        --lb-sibling-header-height: 2.625lh;
        max-width: 100%;
        min-width: calc(45% - 1rem);
        height: auto;
        max-height: 8lh;
        flex-grow: 1;
        flex-shrink: 0.3;
        width: -moz-available;
        width: -webkit-fill-available;

        .post-header {
            height: var(--lb-sibling-header-height);
            background-color: var(--pico-card-sectioning-background-color);
            padding: var(--pico-block-spacing-vertical) var(--pico-block-spacing-horizontal) calc(0.5 * var(--pico-block-spacing-vertical)) var(--pico-block-spacing-horizontal);
        }

        .post-body {
            height: calc(100% - var(--lb-sibling-header-height));
            background-color: var(--pico-card-background-color);
            padding: calc(0.5 * var(--pico-block-spacing-vertical)) var(--pico-block-spacing-horizontal);
            overflow: hidden;
            word-wrap: break-word;
            display: block;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
        }
    }

    .siblings {
        display: flex;
        flex-direction: row;
        gap: .75rem;
        overflow-y: scroll;
        margin-left: 2rem;
        margin-bottom: 1rem;
        max-height: 8lh;
        align-content: space-between;

        /*TODO temporary, remove the markup*/

        .post-footer {
            display: none;
        }

        ::-webkit-scrollbar {
            -webkit-appearance: none;
            width: 10px;
        }

        ::-webkit-scrollbar-thumb {
            border-radius: 5px;
            background-color: rgba(0, 0, 0, .5);
            -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
        }
    }
}

.app .profile {
    .profile-info {
        & > div {
            margin-bottom: 1em;
        }
    }

    .profile-controls {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        justify-content: flex-end;
    }

    header {
        aspect-ratio: 4 / 1;
        position: relative;
        width: 100%;
        margin-bottom: .5em;
    }

    .profile-name-container {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: linear-gradient(180deg,
        hsl(from var(--pico-background-color) h s l / 0) 0%,
        hsl(from var(--pico-background-color) h s l / .5) 30%,
        hsl(from var(--pico-background-color) h s l / .5) 100%);

        &:hover, &:focus-within {
            background: hsl(from var(--pico-background-color) h s l / .8);
        }

        & > * {
            padding: 0;
            margin: 0;
        }
    }

    .profile-pic {
        width: 9em;
        height: 9em;
        margin: 0 1em 1em 0;
        float: left;
    }

    .profile-detail {
        flex-basis: auto;
        clear: both;
        display: flex;
        flex-direction: column;
        justify-content: center;

        & > * {
            margin: 0;
        }
    }

    .profile-main {
        flex-shrink: 1;
        flex-basis: auto;
    }

    .profile-stats {
        display: flex;
        gap: 1em;
        justify-content: space-around;
        width: 100%;
        flex-wrap: wrap;
    }

    .profile-custom-field-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 0.5em;
    }

    .profile-custom-field {
        border: var(--pico-muted-border-color) solid var(--pico-border-width);
        padding: 0 0.5em;
        flex: 1 1 auto;
        box-shadow: var(--pico-muted-border-color) 0 .0125em .25em;

        :hover, :focus-within {
            -webkit-line-clamp: none;
            max-height: none;
        }

        dt {
            display: -webkit-box;
            -webkit-line-clamp: 1;
            font-variant-caps: small-caps;
            max-height: 1lh;
            overflow: hidden;
        }

        dd {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            max-height: 2lh;
            color: var(--pico-muted-color);
            margin-left: 1em;
            overflow: hidden;
        }
    }
}

.app .account {
    form {
        margin-bottom: 2rem;
        border-bottom: var(--pico-border-width) solid var(--pico-table-border-color);
        padding-bottom: 1rem;
    }

    .account-details :nth-last-child(1) {
        margin-bottom: revert;
        border-bottom: revert;
        padding-bottom: revert;
    }
}

.app .peer-list {
    .col-hostname {
        max-width: 8em;
    }

    .peer-link {
        width: 100%;
    }
}

.app .peer-detail {
    .restriction-item {
        display: flex;
        flex-direction: row;
        height: 1.5lh;
        align-items: center;

        input[type="date"] {
            width: initial;
        }

        .restriction-col {
            width: 16em;
        }

        label.when-enabled {
            margin-right: 1em;
        }

        .when-enabled {
            display: none;
            height: 1.5lh;
            padding-bottom: .25em;
            padding-top: .25em;
        }

        &:has(input:checked) .when-enabled {
            display: initial;
        }
    }
}

.app .administration {
    &.report {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;

        .report-section {
            width: 100%;
        }

        .column {
            width: calc(50% - 1em);
        }
        
        .row {
            padding-left: 2em;
            text-indent: -2em;
        }
    }

    .report-notes {
        margin-top: 1em;
        .row {
            width: calc(100% - 2em);
        }
    }
    
    .report-reason {
        font-family: var(--lb-font-family-user);
    }

    .report-col-time {
        min-width: 10em;
    }

    .report-section {
        margin-bottom: var(--pico-form-element-spacing-vertical);
        border-bottom: 1px solid var(--pico-form-element-border-color);
    }

    .report-stats .row {
        display: flex;
        column-gap: .5em;
    }

    .report-stats-header {
        flex-basis: 7em;
    }

    .report-other-profiles,
    .report-subjects{
        .profile-stats {
            font-family: var(--lb-font-family);
        }
    }
    
    .report-other-profiles,
    .report-subjects,
    .report-posts {
        .post-footer {
            display: flex;
            justify-content: flex-end;
            gap: .5em;
        }
        .handle {
            font-size: .7em;
        }
        .pfp-sm {
            line-height: 2lh;
        }
        .post-author {
            display: flex;
        }
    }
}


/* Collapsible menus */
/* Always collapsible */
.menu-collapsible,
*[class^="menu-collapsible-"], *[class*=" menu-collapsible-"],
    /* Becomes collapsible on small screens*/
.menu-responsive,
*[class^="menu-responsive-"], *[class*=" menu-responsive-"] {
    & > label {
        display: inline-block;
        padding: .5rem;
        cursor: pointer;
        margin: -0.5rem 0;

        &:has(input:checked) {
            background-color: var(--pico-primary-background);
        }

        input {
            opacity: 0.00;
            position: absolute;
            padding: 0;
            margin: 0;
            border: 0;
        }
    }

    .menu-items-container {
        display: none;
        position: relative;
    }

    .menu-items {
        display: none;
        position: absolute;
        flex-direction: column;
        background-color: var(--pico-dropdown-background-color);
        border: var(--pico-border-width) solid var(--pico-dropdown-border-color) \);
        border-radius: var(--pico-border-radius);
        box-shadow: var(--pico-box-shadow);
        padding: .5em;
        width: max-content;

        a {
            text-decoration: none;
        }

        & > * {
            width: 100%;
            display: block;
        }

        footer {
            display: flex;
            flex-direction: row;
            column-gap: 1em;
            text-wrap: nowrap;
            flex-wrap: wrap;
        }
    }

    /* Toggle show/hide */

    &:has( input[type="checkbox"]:not(:checked)) {
        width: fit-content;
    }

    label:has(input:checked) ~ .menu-items,
    label:has(input:checked) ~ .menu-items-container {
        display: block;

        .menu-items {
            display: flex;
        }
    }

    label:has(input[type="checkbox"]):focus-within {
        border: var(--pico-border-width) solid var(--pico-primary-focus);
        border-radius: var(--pico-border-radius);
    }
}

.menu-collapsible,
*[class^="menu-collapsible-"], *[class*=" menu-collapsible-"] {

}

.menu-responsive,
*[class^="menu-responsive-"], *[class*=" menu-responsive-"] {
    .menu-items {
        position: relative;
    }
}

.menu-responsive-right,
.menu-collapsible-right {
    text-align: end;
    align-items: end;

    .menu-items {
        right: 0;
    }
}

.menu-responsive-left,
.menu-collapsible-left {
    text-align: start;
    align-items: start;

    .menu-items {
        left: 0;
    }
}

@media (min-width: 796px) {
    .app > header {
        height: 100vh;
    }

    .menu-responsive,
    *[class^="menu-responsive-"], *[class*=" menu-responsive-"] {
        text-align: start;
        align-items: start;

        & > label.collapse-control {
            display: none;
        }

        .menu-items {
            display: flex;
            background-color: initial;
            border: initial;
            border-radius: initial;
            box-shadow: initial;
            position: relative;
            width: fit-content;
        }

        /*&:focus-within {*/
        /*    border: revert;*/
        /*    border-radius: revert;*/
        /*}*/
    }
}

/* Collapsing Nav menu end */

@media (max-width: 576px) {
    .app .min-lg {
        display: none;
    }

    body.app {
        display: flex;

        & > header {
            position: sticky;
            grid-area: main;
            top: 0;
        }

        article .thread footer,
        article .timeline footer {
            *, button {
                font-size: calc(0.75 * var(--pico-font-size));
            }
        }

        flex-direction: column;
    }
}

@media (min-width: 576px) {
    :root {
        --pico-font-size: 100%;
    }
}

@media (min-width: 1024px) {
    body.app main .thread article,
    body.app main .timeline article {
        grid-template-areas:
        "header main" 
        "header footer";
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr auto;
    }

    body.app .profile {
        .profile-info {
            flex-direction: row-reverse;
        }
    }
}

@media (min-width: 1280px) {
    :root {
        --pico-font-size: 106.25%;
    }
}

@media (min-width: 1536px) {
    :root {
        --pico-font-size: 112.5%
    }
}

@media screen and (height <= 576px) {
    /* small displays */
    body.app header {
        font-size: revert;
    }
}

@media screen and (max-width: 796px) {
    /* single-column layout */
    body.app {
        display: flex;
        flex-direction: column;

        & > header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            position: sticky;
            grid-area: main;
            top: 0;
            background-color: var(--pico-background-color);
            z-index: 1;
        }
    }

    .app .min-md {
        display: none;
    }
}