body.app {
    display: grid;
    grid-template-areas:
        "header main" 
        "footer main";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr auto;
    height: 100vh;

    footer {
        grid-area: footer;
        font-size: 0.75rem;
    }

    & > header {
        font-size: 1.5rem;
        --pico-font-weight: 700;
        grid-area: header;
        justify-content: stretch;

        nav {
            display: flex;
            flex-direction: column;
            align-items: initial;

            ul, ul:first-of-type, ul:last-of-type {
                /* *-of-type pseudo classes are needed for specificity */
                line-height: 1.5rlh;
                display: flex;
                flex-direction: column;
                align-items: initial;
                margin-left: 0;

                li {
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }


    .sidebar {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-block: var(--pico-block-spacing-vertical);
    }

    footer ul {
        padding: 0;
        margin: 0;

        li {
            display: inline-block;
        }

        li:last-child::after {
            display: none;
        }

        li:not(last-child)::after {
            content: ' - ';
        }
    }

    main .timeline {
        article {
            padding: 0;
            display: grid;
            grid-template-areas:
                "header main" 
                "header footer";
            grid-template-columns: minmax(12em, 30%) auto;
            align-items: stretch;
            font-family: inclusve_sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji";
            
            .timeline-body {
                padding: var(--pico-block-spacing-vertical) var(--pico-block-spacing-horizontal)
            }
            
            header {
                grid-area: header;
                height: 100%;
                margin: 0;
                padding: var(--pico-block-spacing-vertical) var(--pico-block-spacing-horizontal)
            }
            
            footer {
                grid-area: footer;
                height: 1.5lh;
                margin: 0;
            }
        }

        grid-area: main;
        overflow: scroll;
    }

    span img {
        margin-left: 0.25em;
        margin-right: 0.25em;
    }
    
    img {
        inline-size: 1.1lh;
    }

    button.btn-link {
        --pico-color: var(--lb-color-primary);
        text-decoration: underline;
        display: inline-block;
        border: none;
        background-color: inherit;
        padding: 0;
        margin: 0;
        font-size: inherit;
        width: initial;
    }

    .box {
        clip-path: polygon(0 2em, 2em 0, 100% 0, 100% calc(100% - 2em), calc(100% - 2em) 100%, 0 100%);
        position: relative;

    .box:before {
        content: "";
        position: absolute;
        inset: 0;
        background: radial-gradient(var(--lb-color-primary), var(--lb-color-contrast), var(--lb-color-accent), var(--lb-color-secondary));
        clip-path: polygon(0 2em, 2em 0, 100% 0, 100% calc(100% - 2em), calc(100% - 2em) 100%, 0 100%, 0 2em, 4px calc(2em + 1.66px), 4px calc(100% - 4px), calc(100% - 2em - 1.66px) calc(100% - 4px), calc(100% - 4px) calc(100% - 2em - 1.66px), calc(100% - 4px) 4px, calc(2em + 1.66px) 4px, 4px calc(2em + 1.66px));
    }
    
    .timeline-body {
        grid-area: main;
        padding-top: var(--pico-block-spacing-vertical);
        padding-bottom: var(--pico-block-spacing-vertical);
    }
    
    .timeline-header {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        
        .timeline-author {
            display: flex;
            flex-direction: row;
           
        }
        
        .timeline-pfp {
            flex-shrink: 0;
        }
        
        .timeline-profile-container {
            display: flex;
            flex-direction: column;
        }
        
        a {
            text-decoration: none;
            line-height: initial;
        }
        
        .pfp-sm {
            line-height: 2lh;
            /*! width: 2rem; */
        }
        span, 
        .display-name {
            width: 100%;
        }
        .handle {
            font-size: .7em;
        }
    }
}

@media (min-width:576px) {
    :root {
        --pico-font-size: 100%;
    }
}
@media (min-width:1280px) {
    :root {
        --pico-font-size: 106.25%;
    }
}
@media (min-width:1536px) {
    :root {
        --pico-font-size:112.5%
    }
}

@media screen and (height <= 576px) {
    /* small displays */
    body.app header {
        font-size: revert;
    }
    
    .app .min-md {
        /*display: none;*/
    }
}

@media screen and (width <= 796px) {
    /* single-column layout */
    body.app {
        grid-template-areas:
                    "header footer"
                    "main main";
        grid-template-columns: 1fr auto;
        grid-template-rows: auto 1fr;
        
        header {
            justify-content: normal;

            nav {
                & ul, & ul:first-of-type, & ul:last-of-type {
                    flex-direction: row;
                }
            }
        }
    }
    
    .app .min-md {
        display: none;
    }
}