body.app {
    display: grid;
    grid-template-areas:
        "header main";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    height: auto;

    & > footer {
        grid-area: header;
        font-size: 0.75rem;
        position: fixed;
        bottom: 0;
        height: fit-content;
    }

    & > header {
        font-size: 1.5rem;
        --pico-font-weight: 700;
        grid-area: header;
        justify-content: stretch;
        position: sticky;
        height: fit-content;
        top: 0;

        nav {
            display: flex;
            flex-direction: column;
            align-items: initial;
            
            .menu-items {
                line-height: 1.5rlh;
                flex-direction: column;
                align-items: initial;
                margin-left: 0;
                * {
                    text-decoration: none;
                    font-weight: 700;
                }
            }
        }
    }

    main {
        grid-area: main;

        .timeline {
            overflow: scroll;

            article {
                padding: 0;
                display: grid;
                grid-template-areas:
            "header" 
            "main"
            "footer";
                grid-template-columns: auto;
                align-items: stretch;
                font-family: inclusve_sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji";

                .timeline-body {
                    padding: var(--pico-block-spacing-vertical) var(--pico-block-spacing-horizontal);
                    grid-area: main;
                }

                header {
                    grid-area: header;
                    height: 100%;
                    margin: 0;
                    padding: var(--pico-block-spacing-vertical) var(--pico-block-spacing-horizontal);
                }

                footer {
                    font-size: 0.75rem;
                    grid-area: footer;
                    margin: 0;
                    display: flex;
                    gap: 0.5rem;
                    align-items: center;
                }
            }

            .timeline-author {
                display: flex;
            }

            .timeline-pfp {
                flex: 0 0 auto;
            }

            .timeline-author {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .timeline-profile-container {
                flex: 0 1 auto;
                display: flex;
                flex-direction: column;
            }

            .handle {
                font-size: 0.75em;
            }
        }

        .timeline button {
            padding-top: .0625rem;
            padding-bottom: .0625rem;
            margin-top: .125rem;
            margin-bottom: .125rem;
        }

        span img {
            margin-left: 0.25em;
            margin-right: 0.25em;
        }

        img {
            inline-size: 1.1lh;
        }

        button.btn-link {
            --pico-color: var(--lb-color-primary);
            text-decoration: underline;
            display: inline-block;
            border: none;
            background-color: inherit;
            padding: 0;
            margin: 0;
            font-size: inherit;
            width: initial;
        }

        .box {
            clip-path: polygon(0 2em, 2em 0, 100% 0, 100% calc(100% - 2em), calc(100% - 2em) 100%, 0 100%);
            position: relative;
        }

        .box:before {
            content: "";
            position: absolute;
            inset: 0;
            background: radial-gradient(var(--lb-color-primary), var(--lb-color-contrast), var(--lb-color-accent), var(--lb-color-secondary));
            clip-path: polygon(0 2em, 2em 0, 100% 0, 100% calc(100% - 2em), calc(100% - 2em) 100%, 0 100%, 0 2em, 4px calc(2em + 1.66px), 4px calc(100% - 4px), calc(100% - 2em - 1.66px) calc(100% - 4px), calc(100% - 4px) calc(100% - 2em - 1.66px), calc(100% - 4px) 4px, calc(2em + 1.66px) 4px, 4px calc(2em + 1.66px));
        }

        .timeline-body {
            grid-area: main;
            padding-top: var(--pico-block-spacing-vertical);
            padding-bottom: var(--pico-block-spacing-vertical);
        }

        .timeline-header {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            overflow: hidden;
            white-space: nowrap;
            line-break: anywhere;

            .timeline-author {
                display: flex;
                flex-direction: row;

            }

            .timeline-pfp {
                flex-shrink: 0;
            }

            .timeline-profile-container {
                display: flex;
                flex-direction: column;
            }

            a {
                text-decoration: none;
                line-height: initial;
            }

            .pfp-sm {
                line-height: 2lh;
                /*! width: 2rem; */
            }

            span,
            .display-name {
                width: 100%;
            }

            .handle {
                font-size: .7em;
            }
        }
    }
    
    .icon {
        max-height: 1em;
        max-width: 1em;
        background-repeat: no-repeat;
        background-color: var(--pico-primary);
    }
    .icon-like {
        mask: url("/lib/remixicon/heart-line.svg");
    }
    .icon-share {
        mask: url("/lib/remixicon/repeat-line.svg");
    }
    .icon-reply {
        mask: url("/lib/remixicon/reply-line.svg");
    }
    .icon-more {
        mask: url("/lib/remixicon/more-line.svg");
    }
    .icon-thread {
        mask: url("/lib/remixicon/mail-open-line.svg");
    }
}

/* Collapsible menus */
/* Always collapsible */
.menu-collapsible,
*[class^="menu-collapsible-"], *[class*=" menu-collapsible-"],
/* Becomes collapsible on small screens*/
.menu-responsive,
*[class^="menu-responsive-"], *[class*=" menu-responsive-"] {
    & > label {
        display: inline-block;
        padding: .5rem;
        cursor: pointer;

        input {
            display: none;
        }
    }

    .menu-items {
        display: none;

        & > * {
            /*padding: 10px;*/
            /*text-align: center;*/
            width: 100%;
            display: block;
        }
    }
    
    /* Toggle show/hide */
    &:has( input[type="checkbox"]:not(:checked)) {
        width: fit-content;
    }
    label:has(input:checked) ~ .menu-items {
        display: flex;
    }
}

@media (min-width: 796px) {
    .menu-responsive,
    *[class^="menu-responsive-"], *[class*=" menu-responsive-"] {
        & > label.collapse-control { display: none; }
        .menu-items { display: block; }
    }
}
/* Collapsing Nav menu end */

@media (max-width: 576px) {
    .app .min-lg {
        display: none;
    }

    body.app {
        display: flex;
        & > header {
            position: sticky;
            grid-area: main;
            top: 0;
        }

        article .timeline footer {
            *, button {
                font-size: calc(0.75 * var(--pico-font-size));
            }
        }
        flex-direction: column;
    }
}

@media (min-width: 576px) {
    :root {
        --pico-font-size: 100%;
    }
}

@media (max-width: 1024px) {
    .app .min-md {
        display: none;
    }
}

@media (min-width: 1024px) {
    body.app main .timeline article {
        grid-template-areas:
        "header main" 
        "header footer";
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr auto;
    }

}

@media (min-width: 1280px) {
    :root {
        --pico-font-size: 106.25%;
    }
}

@media (min-width: 1536px) {
    :root {
        --pico-font-size: 112.5%
    }
}

@media screen and (height <= 576px) {
    /* small displays */
    body.app header {
        font-size: revert;
    }
}

@media screen and (max-width: 796px) {
    /* single-column layout */
    body.app {
        display: flex;
        flex-direction: column;
        
        & > header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            position: sticky;
            grid-area: main;
            top: 0;
        }
    }

    .app .min-md {
        display: none;
    }
}