@inherits Microsoft.AspNetCore.Mvc.Razor.RazorPage<TModel>
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link rel="icon" type="image/svg" href="/img/letterbook.svg">
    <link rel="stylesheet" href="/lib/picocss/css/pico.min.css"/>
    <link rel="stylesheet" href="/css/site.css"/>
    <title>@ViewData["Title"]</title>
    @await RenderSectionAsync("Head", required: false)
</head>
<body class="container">
@await Html.PartialAsync("Nav")

<main role="main" class="@(IsSectionDefined("Sidebar") ? "sidebar-grid" : null)">
    @await RenderSectionAsync("Sidebar", required: false)
    @RenderBody()
</main>

@await Html.PartialAsync("Footer")

@await RenderSectionAsync("Scripts", required: false)

</body>
</html>