@inherits Microsoft.AspNetCore.Mvc.Razor.RazorPage<TModel>
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link rel="icon" type="image/svg" href="/img/logo.svg">
    <link rel="stylesheet" href="/lib/picocss/css/pico.min.css"/>
    <title>@ViewData["Title"]</title>
</head>
<body >
@await Html.PartialAsync("Nav")

<div >
    <main role="main" class="container">
        @RenderBody()
    </main>
</div>

@await Html.PartialAsync("Footer")

<script type="module">
import { init } from "app.mjs"
init()
</script>

@await RenderSectionAsync("Scripts", required: false)

</body>
</html>