@page "/404"
@attribute [RenderStatic]
@{
    Layout = "";
}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <title>Page Not Found</title>
    <link rel="icon" type="image/svg" href="/img/letterbook.svg">
    <link rel="stylesheet" href="/lib/picocss/css/pico.min.css"/>
    <link rel="stylesheet" href="/css/site.css">
</head>
<body>

<div class="error-page">
    <main role="main" class="justify-center">
        <a href="/"><img src="/img/letterbook.svg" alt="Letterbook logo"/></a>
        <div class="summary">
            <h1>404 - Not Found</h1>
            <p>This page does not exist</p>
            <div >
                <button onclick="history.back()">
                    <svg class="inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M10.05 16.94v-4h8.92l.03-2.01h-8.95V6.94l-5 5Z"/>
                    </svg>
                    back
                </button>
            </div>
        </div>
    </main>
</div>

@await Html.PartialAsync("Footer")

</body>
</html>
