@page "/error/{statusCode}"
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1>@Model.Status</h1>
<div role="doc-subtitle" class="system-text">@Model.Message()</div>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<p>
    @Model.GetLongMessage()
</p>
