@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

@if(User.Identity?.IsAuthenticated == true)
{
    <section class="timeline">
        <h1>Home</h1>
        @foreach (var post in await Model.GetPosts())
        {
            <partial name="Shared/_TimelinePostPartial" model="post"/>
        }
    </section>
    @await  Component.InvokeAsync("PostEditor")
}
else
{
    <partial name="Shared/_AboutPartial"/>
}
