<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] | Letterbook</title>
    <link rel="icon" type="image/svg" href="/img/letterbook-square.svg">
    <link rel="stylesheet" href="/lib/picocss/css/pico.min.css"/>
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="/css/app.css" asp-append-version="true"/>
</head>
<body class="container app">
<header>
    <h1 class="letterbook-brand"><a asp-page="/Index">Letterbook</a></h1>
    <nav class="menu-responsive-right">
        <label class="collapse-control">&#9776;
            <input type="checkbox"/>
        </label>
        <div class="menu-items">
            @if (User.Identity?.IsAuthenticated == true)
            {
                <partial name="_ProfileSelector"/>
                <a asp-area="" asp-page="/Notifications">Notifications</a>
                <a asp-area="" asp-page="/Search">Search</a>
                <a asp-area="" asp-page="/Settings">Settings</a>
                <span class="max-sm">
                    <partial name="_LogoutPartial"/>
                </span>
            }
            else
            {
                <partial name="_LoginPartial"/>
            }
        </div>
    </nav>
</header>
<main role="main">
    @RenderBody()
</main>
<footer class="min-md">
    <div class="footer-content">
        <p>
            <a asp-page="Profile" asp-route-handle="admin">Admin profile</a>
        </p>
        <span class="min-md">Powered by <a href="https://letterbook.com">Letterbook</a> v0.0</span>
        <ul class="inline-block-list">
            <li class="min-md"><a asp-area="" asp-page="/About">About</a></li>
            <li class="min-md"><a asp-area="" asp-page="/Moderation">Moderation policy</a></li>
            <li class="min-md"><a asp-area="" asp-page="/Privacy">Privacy policy</a></li>
            @if (User.Identity?.IsAuthenticated == true)
            {
                <li>
                    <partial name="_LogoutPartial"/>
                </li>
            }
        </ul>
    </div>
</footer>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>