<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] | Letterbook</title>
    <link rel="icon" type="image/svg" href="/img/letterbook-square.svg">
    <link rel="stylesheet" href="/lib/picocss/css/pico.min.css"/>
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="/css/app.css" asp-append-version="true"/>
</head>
<body class="container app">
<header>
    <div class="header-content">
        <nav>
            <h1 class="letterbook-brand"><a asp-page="/Index">Letterbook</a></h1>
            <ul>
                @if (User.Identity?.IsAuthenticated == true)
                {
                    <li>
                        <partial name="_ProfileSelector"/>
                    </li>
                    <li><span ><a asp-area="" asp-page="/Notifications"><img alt="notification icon" src="/img/noun-inbox-6760588.svg"/><span class="min-md">Notifications</span></a></span></li>
                    <li><span ><a asp-area="" asp-page="/Search"><img alt="search icon" src="/img/noun-book-explore-6540127.svg"/><span class="min-md">Search</span></a></span></li>
                    <li><span ><a asp-area="" asp-page="/Settings"><img alt="settings icon" src="/img/noun-settings-7416424.svg"/><span class="min-md">Settings</span></a></span></li>
                }
                else
                {
                    <li>
                        <partial name="_LoginPartial"/>
                    </li>
                }
            </ul>
        </nav></div>
</header>
<main role="main">
    @RenderBody()
</main>
<footer>
    <div class="footer-content">
    <p>
        <a asp-page="Profile" asp-route-handle="admin">Admin profile</a>
    </p>
    <span class="min-md">Powered by <a href="https://letterbook.com">Letterbook</a> v0.0</span>
    <ul class="inline-block-list">
        <li class="min-md"><a asp-area="" asp-page="/About">About</a></li>
        <li class="min-md"><a asp-area="" asp-page="/Moderation">Moderation policy</a></li>
        <li class="min-md"><a asp-area="" asp-page="/Privacy">Privacy policy</a></li>
        @if (User.Identity?.IsAuthenticated == true)
        {
            <li>
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                      asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                    <button id="logout" type="submit" class="btn-link color-secondary">Logout</button>
                </form>
            </li>
        }
    </ul>
    </div>
</footer>

<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>