<form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
      asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
    <button id="logout" type="submit" class="btn-link color-secondary">Logout</button>
</form>