@page
@using Microsoft.AspNetCore.Html
@model Letterbook.DocsSsg.Pages.Blog.Index

<h1>Blog</h1>

@foreach (var post in Model.Posts)
{
    int y = post.Date.Year;
    int m = post.Date.Month;
    int d = post.Date.Day;
    <div>
        <h2><a href="blog/post/@y/@m/@d/@post.Slug">@post.Title</a></h2>
        <time datetime="@y-@m-@d">@post.Date.ToString("D")</time>
        @(new HtmlString(post.HtmlLede))
    </div>
}