@page "/blog/"
@attribute [RenderStatic]
@{
    ViewData["Title"] = "Blog";
    ViewData["Brand"] = "Blog";
}

<h1 class="pt-10 text-6xl md:text-7xl lg:text-8xl font-bold tracking-tighter leading-tight md:leading-none text-center">
    Blog
</h1>