@page "/docs/"
@attribute [RenderStatic]
@{
    ViewData["Title"] = "Docs";
}

<h1 class="pt-10 text-6xl md:text-7xl lg:text-8xl font-bold tracking-tighter leading-tight md:leading-none text-center">
    Docs
</h1>