@page
@model Letterbook.Web.Areas.Account.Pages.ChangeEmail

@{
    ViewData["Title"] = $"Change email - {Model.ChangeEmailResult}";
}
    
<section>
    <h1>Change Email</h1>
    <article>
        <header>
            @Model.ChangeEmailResult
        </header>
        <ul>
            @foreach (var detail in Model.ChangeEmailDetails)
            {
                <li>@detail</li>
            }
        </ul>
    </article>
</section>
