@page
@model Letterbook.Web.Areas.Account.Pages.PasswordResetRequest

@{
    Layout = "_LayoutAnonymous";
    ViewData["Title"] = "Reset Password";
}

<section class="account anonymous">
    <header>
        <h1>Reset Password</h1>
    </header>
    
    <dialog>
        <article>
            <header>
                <h2>Success</h2>
            </header>
            @* TODO(email): fix this *@
            <p>A password reset link was printed in the server logs. Ask your server administrator to send you the
                link</p>
            <p>This is a temporary process, until email support is implemented</p>
        </article>
    </dialog>
    
    <p>Enter your email to receive a link that can be used to reset your account password.</p>
    <form asp-page-handler="Reset" method="post">
        <label for="email">Email</label>
        <input id="email" name="email" type="email" autocomplete="off"/>
        <button type="submit">Send password reset link</button>
        @* TODO(email): remove this *@
        <small><p>Letterbook has not yet implemented email support. You must contact your server administrator to get
                the reset link.</p></small>
    </form>
</section>