@page
@model Letterbook.Web.Areas.Account.Pages.PasswordResetRequest

@{
    Layout = "_LayoutAnonymous";
    ViewData["Title"] = "Reset Password";
}

<section class="account anonymous">
    <header>
        <h1>Reset Password</h1>
    </header>

    <dialog @(Model.Result != null ? "open" : "")>
        <article>
            <header>
                <h2>@Model.Result</h2>
            </header>
            <p>Your request was received. If there is an account with that email address, you will receive a link that
                will let you reset your password.</p>

            @* TODO(email): remove this *@
            <p>
                <small>A password reset link was printed in the server logs. Ask your server administrator to send you
                    the link</small>
            </p>
            <p><small>Note: This is a temporary process, until email support is implemented</small></p>
            <footer><a asp-page="Index">Return to the home page</a></footer>
        </article>
    </dialog>

    <p>Enter your email to receive a link that can be used to reset your account password.</p>
    <form asp-page-handler="Reset" method="post">
        <label for="email">Email</label>
        <input id="email" name="email" type="email" autocomplete="off"/>
        <button type="submit">Send password reset link</button>
        @* TODO(email): remove this *@
        <small><p>Letterbook has not yet implemented email support. You must contact your server administrator to get
                the reset link.</p></small>
    </form>
</section>