@page
@model Letterbook.Web.Areas.Account.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<div class="row">
    <div>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <label asp-for="Input.InviteCode">Invite code</label>
            <input asp-for="Input.InviteCode" placeholder="0000-0000-0000" autocomplete="off"/>

            <label asp-for="Input.Handle">Username</label>
            <input asp-for="Input.Handle" class="form-control" autocomplete="username" aria-required="true"
                   placeholder="Your_name"/>
            <span asp-validation-for="Input.Handle" class="text-danger"></span>

            <label asp-for="Input.Email">Email</label>
            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true"
                   placeholder="name@example.com"/>
            <span asp-validation-for="Input.Email" class="text-danger"></span>

            <label asp-for="Input.Password">Password</label>
            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true"
                   placeholder="password"/>
            <span asp-validation-for="Input.Password" class="text-danger"></span>

            <label asp-for="Input.ConfirmPassword">Confirm password</label>
            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true"
                   placeholder="password"/>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>

            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
</div>
<div>
    @* TODO: Server info and policies *@
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}
